body {
	direction: rtl;
}
.column, .columns {
    width: 100%;
    float: right;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
	float: left; }
.column.end:last-child:last-child, .end.columns:last-child:last-child {
	float: right; }
.small-push-1 {
  position: relative;
  right: 8.33333%; }

.small-pull-1 {
  position: relative;
  right: -8.33333%; }

.small-offset-0 {
  margin-right: 0%; }
.small-push-2 {
  position: relative;
  right: 16.66667%; }

.small-pull-2 {
  position: relative;
  right: -16.66667%; }

.small-offset-1 {
  margin-right: 8.33333%; }

.small-3 {
  width: 25%; }

.small-push-3 {
  position: relative;
  right: 25%; }

.small-pull-3 {
  position: relative;
  left: -25%; }

.small-offset-2 {
  margin-right: 16.66667%; }

.small-4 {
  width: 33.33333%; }

.small-push-4 {
  position: relative;
  right: 33.33333%; }

.small-pull-4 {
  position: relative;
  right: -33.33333%; }

.small-offset-3 {
  margin-right: 25%; }

.small-5 {
  width: 41.66667%; }

.small-push-5 {
  position: relative;
  right: 41.66667%; }

.small-pull-5 {
  position: relative;
  right: -41.66667%; }

.small-offset-4 {
  margin-right: 33.33333%; }

.small-6 {
  width: 50%; }

.small-push-6 {
  position: relative;
  right: 50%; }

.small-pull-6 {
  position: relative;
  right: -50%; }

.small-offset-5 {
  margin-right: 41.66667%; }

.small-7 {
  width: 58.33333%; }

.small-push-7 {
  position: relative;
  right: 58.33333%; }

.small-pull-7 {
  position: relative;
  right: -58.33333%; }

.small-offset-6 {
  margin-right: 50%; }

.small-8 {
  width: 66.66667%; }

.small-push-8 {
  position: relative;
  right: 66.66667%; }

.small-pull-8 {
  position: relative;
  right: -66.66667%; }

.small-offset-7 {
  margin-right: 58.33333%; }

.small-9 {
  width: 75%; }

.small-push-9 {
  position: relative;
  right: 75%; }

.small-pull-9 {
  position: relative;
  right: -75%; }

.small-offset-8 {
  margin-right: 66.66667%; }

.small-10 {
  width: 83.33333%; }

.small-push-10 {
  position: relative;
  right: 83.33333%; }

.small-pull-10 {
  position: relative;
  right: -83.33333%; }

.small-offset-9 {
  margin-right: 75%; }

.small-11 {
  width: 91.66667%; }

.small-push-11 {
  position: relative;
  right: 91.66667%; }

.small-pull-11 {
  position: relative;
  right: -91.66667%; }

.small-offset-10 {
  margin-right: 83.33333%; }

.small-12 {
  width: 100%; }

.small-offset-11 {
  margin-right: 91.66667%; }

.small-up-1 > .column, .small-up-1 > .columns {
  width: 100%;
  float: right; }
  .small-up-1 > .column:nth-of-type(1n), .small-up-1 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-1 > .column:nth-of-type(1n+1), .small-up-1 > .columns:nth-of-type(1n+1) {
    clear: both; }
  .small-up-1 > .column:last-child, .small-up-1 > .columns:last-child {
    float: right; }

.small-up-2 > .column, .small-up-2 > .columns {
  width: 50%;
  float: right; }
  .small-up-2 > .column:nth-of-type(1n), .small-up-2 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-2 > .column:nth-of-type(2n+1), .small-up-2 > .columns:nth-of-type(2n+1) {
    clear: both; }
  .small-up-2 > .column:last-child, .small-up-2 > .columns:last-child {
    float: right; }

.small-up-3 > .column, .small-up-3 > .columns {
  width: 33.33333%;
  float: right; }
  .small-up-3 > .column:nth-of-type(1n), .small-up-3 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-3 > .column:nth-of-type(3n+1), .small-up-3 > .columns:nth-of-type(3n+1) {
    clear: both; }
  .small-up-3 > .column:last-child, .small-up-3 > .columns:last-child {
    float: right; }

.small-up-4 > .column, .small-up-4 > .columns {
  width: 25%;
  float: right; }
  .small-up-4 > .column:nth-of-type(1n), .small-up-4 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-4 > .column:nth-of-type(4n+1), .small-up-4 > .columns:nth-of-type(4n+1) {
    clear: both; }
  .small-up-4 > .column:last-child, .small-up-4 > .columns:last-child {
    float: right; }

.small-up-5 > .column, .small-up-5 > .columns {
  width: 20%;
  float: right; }
  .small-up-5 > .column:nth-of-type(1n), .small-up-5 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-5 > .column:nth-of-type(5n+1), .small-up-5 > .columns:nth-of-type(5n+1) {
    clear: both; }
  .small-up-5 > .column:last-child, .small-up-5 > .columns:last-child {
    float: right; }

.small-up-6 > .column, .small-up-6 > .columns {
  width: 16.66667%;
  float: right; }
  .small-up-6 > .column:nth-of-type(1n), .small-up-6 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-6 > .column:nth-of-type(6n+1), .small-up-6 > .columns:nth-of-type(6n+1) {
    clear: both; }
  .small-up-6 > .column:last-child, .small-up-6 > .columns:last-child {
    float: right; }

.small-up-7 > .column, .small-up-7 > .columns {
  width: 14.28571%;
  float: right; }
  .small-up-7 > .column:nth-of-type(1n), .small-up-7 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-7 > .column:nth-of-type(7n+1), .small-up-7 > .columns:nth-of-type(7n+1) {
    clear: both; }
  .small-up-7 > .column:last-child, .small-up-7 > .columns:last-child {
    float: right; }

.small-up-8 > .column, .small-up-8 > .columns {
  width: 12.5%;
  float: right; }
  .small-up-8 > .column:nth-of-type(1n), .small-up-8 > .columns:nth-of-type(1n) {
    clear: none; }
  .small-up-8 > .column:nth-of-type(8n+1), .small-up-8 > .columns:nth-of-type(8n+1) {
    clear: both; }
  .small-up-8 > .column:last-child, .small-up-8 > .columns:last-child {
    float: right; }
.small-collapse > .column, .small-collapse > .columns {
  padding-left: 0;
  padding-right: 0; }

.small-collapse .row {
  margin-left: 0;
  margin-right: 0; }

.expanded.row .small-collapse.row {
  margin-left: 0;
  margin-right: 0; }

.small-uncollapse > .column, .small-uncollapse > .columns {
  padding-left: 0.625rem;
  padding-right: 0.625rem; }

.small-centered {
  margin-left: auto;
  margin-right: auto; }
  .small-centered, .small-centered:last-child:not(:first-child) {
    float: none;
    clear: both; }

.small-uncentered,
.small-push-0,
.small-pull-0 {
  position: static;
  margin-right: 0;
  margin-left: 0;
  float: right; }
@media screen and (min-width: 40em) {
  .medium-1 {
    width: 8.33333%; }
  .medium-push-1 {
    position: relative;
    right: 8.33333%; }
  .medium-pull-1 {
    position: relative;
    right: -8.33333%; }
  .medium-offset-0 {
    margin-right: 0%; }
  .medium-2 {
    width: 16.66667%; }
  .medium-push-2 {
    position: relative;
    right: 16.66667%; }
  .medium-pull-2 {
    position: relative;
    right: -16.66667%; }
  .medium-offset-1 {
    margin-right: 8.33333%; }
  .medium-3 {
    width: 25%; }
  .medium-push-3 {
    position: relative;
    right: 25%; }
  .medium-pull-3 {
    position: relative;
    right: -25%; }
  .medium-offset-2 {
    margin-right: 16.66667%; }
  .medium-4 {
    width: 33.33333%; }
  .medium-push-4 {
    position: relative;
    right: 33.33333%; }
  .medium-pull-4 {
    position: relative;
    right: -33.33333%; }
  .medium-offset-3 {
    margin-right: 25%; }
  .medium-5 {
    width: 41.66667%; }
  .medium-push-5 {
    position: relative;
    right: 41.66667%; }
  .medium-pull-5 {
    position: relative;
    right: -41.66667%; }
  .medium-offset-4 {
    margin-right: 33.33333%; }
  .medium-6 {
    width: 50%; }
  .medium-push-6 {
    position: relative;
    right: 50%; }
  .medium-pull-6 {
    position: relative;
    right: -50%; }
  .medium-offset-5 {
    margin-right: 41.66667%; }
  .medium-7 {
    width: 58.33333%; }
  .medium-push-7 {
    position: relative;
    right: 58.33333%; }
  .medium-pull-7 {
    position: relative;
    right: -58.33333%; }
  .medium-offset-6 {
    margin-right: 50%; }
  .medium-8 {
    width: 66.66667%; }
  .medium-push-8 {
    position: relative;
    right: 66.66667%; }
  .medium-pull-8 {
    position: relative;
    right: -66.66667%; }
  .medium-offset-7 {
    margin-right: 58.33333%; }
  .medium-9 {
    width: 75%; }
  .medium-push-9 {
    position: relative;
    right: 75%; }
  .medium-pull-9 {
    position: relative;
    right: -75%; }
  .medium-offset-8 {
    margin-right: 66.66667%; }
  .medium-10 {
    width: 83.33333%; }
  .medium-push-10 {
    position: relative;
    right: 83.33333%; }
  .medium-pull-10 {
    position: relative;
    right: -83.33333%; }
  .medium-offset-9 {
    margin-right: 75%; }
  .medium-11 {
    width: 91.66667%; }
  .medium-push-11 {
    position: relative;
    right: 91.66667%; }
  .medium-pull-11 {
    position: relative;
    right: -91.66667%; }
  .medium-offset-10 {
    margin-right: 83.33333%; }
  .medium-12 {
    width: 100%; }
  .medium-offset-11 {
    margin-right: 91.66667%; }
  .medium-up-1 > .column, .medium-up-1 > .columns {
    width: 100%;
    float: right; }
    .medium-up-1 > .column:nth-of-type(1n), .medium-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-1 > .column:nth-of-type(1n+1), .medium-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .medium-up-1 > .column:last-child, .medium-up-1 > .columns:last-child {
      float: right; }
  .medium-up-2 > .column, .medium-up-2 > .columns {
    width: 50%;
    float: right; }
    .medium-up-2 > .column:nth-of-type(1n), .medium-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-2 > .column:nth-of-type(2n+1), .medium-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .medium-up-2 > .column:last-child, .medium-up-2 > .columns:last-child {
      float: right; }
  .medium-up-3 > .column, .medium-up-3 > .columns {
    width: 33.33333%;
    float: right; }
    .medium-up-3 > .column:nth-of-type(1n), .medium-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-3 > .column:nth-of-type(3n+1), .medium-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .medium-up-3 > .column:last-child, .medium-up-3 > .columns:last-child {
      float: right; }
  .medium-up-4 > .column, .medium-up-4 > .columns {
    width: 25%;
    float: right; }
    .medium-up-4 > .column:nth-of-type(1n), .medium-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-4 > .column:nth-of-type(4n+1), .medium-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .medium-up-4 > .column:last-child, .medium-up-4 > .columns:last-child {
      float: right; }
  .medium-up-5 > .column, .medium-up-5 > .columns {
    width: 20%;
    float: right; }
    .medium-up-5 > .column:nth-of-type(1n), .medium-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-5 > .column:nth-of-type(5n+1), .medium-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .medium-up-5 > .column:last-child, .medium-up-5 > .columns:last-child {
      float: right; }
  .medium-up-6 > .column, .medium-up-6 > .columns {
    width: 16.66667%;
    float: right; }
    .medium-up-6 > .column:nth-of-type(1n), .medium-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-6 > .column:nth-of-type(6n+1), .medium-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .medium-up-6 > .column:last-child, .medium-up-6 > .columns:last-child {
      float: right; }
  .medium-up-7 > .column, .medium-up-7 > .columns {
    width: 14.28571%;
    float: right; }
    .medium-up-7 > .column:nth-of-type(1n), .medium-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-7 > .column:nth-of-type(7n+1), .medium-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .medium-up-7 > .column:last-child, .medium-up-7 > .columns:last-child {
      float: right; }
  .medium-up-8 > .column, .medium-up-8 > .columns {
    width: 12.5%;
    float: right; }
    .medium-up-8 > .column:nth-of-type(1n), .medium-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .medium-up-8 > .column:nth-of-type(8n+1), .medium-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .medium-up-8 > .column:last-child, .medium-up-8 > .columns:last-child {
      float: right; }
  .medium-collapse > .column, .medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .medium-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .expanded.row .medium-collapse.row {
    margin-left: 0;
    margin-right: 0; }
  .medium-uncollapse > .column, .medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .medium-centered {
    margin-left: auto;
    margin-right: auto; }
    .medium-centered, .medium-centered:last-child:not(:first-child) {
      float: none;
      clear: both; }
  .medium-uncentered,
  .medium-push-0,
  .medium-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: right; } }

@media screen and (min-width: 64em) {
  .large-1 {
    width: 8.33333%; }
  .large-push-1 {
    position: relative;
    right: 8.33333%; }
  .large-pull-1 {
    position: relative;
    right: -8.33333%; }
  .large-offset-0 {
    margin-right: 0%; }
  .large-2 {
    width: 16.66667%; }
  .large-push-2 {
    position: relative;
    right: 16.66667%; }
  .large-pull-2 {
    position: relative;
    right: -16.66667%; }
  .large-offset-1 {
    margin-right: 8.33333%; }
  .large-3 {
    width: 25%; }
  .large-push-3 {
    position: relative;
    right: 25%; }
  .large-pull-3 {
    position: relative;
    right: -25%; }
  .large-offset-2 {
    margin-right: 16.66667%; }
  .large-4 {
    width: 33.33333%; }
  .large-push-4 {
    position: relative;
    right: 33.33333%; }
  .large-pull-4 {
    position: relative;
    right: -33.33333%; }
  .large-offset-3 {
    margin-right: 25%; }
  .large-5 {
    width: 41.66667%; }
  .large-push-5 {
    position: relative;
    right: 41.66667%; }
  .large-pull-5 {
    position: relative;
    right: -41.66667%; }
  .large-offset-4 {
    margin-right: 33.33333%; }
  .large-6 {
    width: 50%; }
  .large-push-6 {
    position: relative;
    right: 50%; }
  .large-pull-6 {
    position: relative;
    right: -50%; }
  .large-offset-5 {
    margin-right: 41.66667%; }
  .large-7 {
    width: 58.33333%; }
  .large-push-7 {
    position: relative;
    right: 58.33333%; }
  .large-pull-7 {
    position: relative;
    right: -58.33333%; }
  .large-offset-6 {
    margin-right: 50%; }
  .large-8 {
    width: 66.66667%; }
  .large-push-8 {
    position: relative;
    right: 66.66667%; }
  .large-pull-8 {
    position: relative;
    right: -66.66667%; }
  .large-offset-7 {
    margin-right: 58.33333%; }
  .large-9 {
    width: 75%; }
  .large-push-9 {
    position: relative;
    right: 75%; }
  .large-pull-9 {
    position: relative;
    right: -75%; }
  .large-offset-8 {
    margin-right: 66.66667%; }
  .large-10 {
    width: 83.33333%; }
  .large-push-10 {
    position: relative;
    right: 83.33333%; }
  .large-pull-10 {
    position: relative;
    right: -83.33333%; }
  .large-offset-9 {
    margin-right: 75%; }
  .large-11 {
    width: 91.66667%; }
  .large-push-11 {
    position: relative;
    right: 91.66667%; }
  .large-pull-11 {
    position: relative;
    right: -91.66667%; }
  .large-offset-10 {
    margin-right: 83.33333%; }
  .large-12 {
    width: 100%; }
  .large-offset-11 {
    margin-right: 91.66667%; }
  .large-up-1 > .column, .large-up-1 > .columns {
    width: 100%;
    float: right; }
    .large-up-1 > .column:nth-of-type(1n), .large-up-1 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-1 > .column:nth-of-type(1n+1), .large-up-1 > .columns:nth-of-type(1n+1) {
      clear: both; }
    .large-up-1 > .column:last-child, .large-up-1 > .columns:last-child {
      float: right; }
  .large-up-2 > .column, .large-up-2 > .columns {
    width: 50%;
    float: left; }
    .large-up-2 > .column:nth-of-type(1n), .large-up-2 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-2 > .column:nth-of-type(2n+1), .large-up-2 > .columns:nth-of-type(2n+1) {
      clear: both; }
    .large-up-2 > .column:last-child, .large-up-2 > .columns:last-child {
      float: right; }
  .large-up-3 > .column, .large-up-3 > .columns {
    width: 33.33333%;
    float: right; }
    .large-up-3 > .column:nth-of-type(1n), .large-up-3 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-3 > .column:nth-of-type(3n+1), .large-up-3 > .columns:nth-of-type(3n+1) {
      clear: both; }
    .large-up-3 > .column:last-child, .large-up-3 > .columns:last-child {
      float: right; }
  .large-up-4 > .column, .large-up-4 > .columns {
    width: 25%;
    float: right; }
    .large-up-4 > .column:nth-of-type(1n), .large-up-4 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-4 > .column:nth-of-type(4n+1), .large-up-4 > .columns:nth-of-type(4n+1) {
      clear: both; }
    .large-up-4 > .column:last-child, .large-up-4 > .columns:last-child {
      float: right; }
  .large-up-5 > .column, .large-up-5 > .columns {
    width: 20%;
    float: right; }
    .large-up-5 > .column:nth-of-type(1n), .large-up-5 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-5 > .column:nth-of-type(5n+1), .large-up-5 > .columns:nth-of-type(5n+1) {
      clear: both; }
    .large-up-5 > .column:last-child, .large-up-5 > .columns:last-child {
      float: right; }
  .large-up-6 > .column, .large-up-6 > .columns {
    width: 16.66667%;
    float: right; }
    .large-up-6 > .column:nth-of-type(1n), .large-up-6 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-6 > .column:nth-of-type(6n+1), .large-up-6 > .columns:nth-of-type(6n+1) {
      clear: both; }
    .large-up-6 > .column:last-child, .large-up-6 > .columns:last-child {
      float: right; }
  .large-up-7 > .column, .large-up-7 > .columns {
    width: 14.28571%;
    float: right; }
    .large-up-7 > .column:nth-of-type(1n), .large-up-7 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-7 > .column:nth-of-type(7n+1), .large-up-7 > .columns:nth-of-type(7n+1) {
      clear: both; }
    .large-up-7 > .column:last-child, .large-up-7 > .columns:last-child {
      float: right; }
  .large-up-8 > .column, .large-up-8 > .columns {
    width: 12.5%;
    float: right; }
    .large-up-8 > .column:nth-of-type(1n), .large-up-8 > .columns:nth-of-type(1n) {
      clear: none; }
    .large-up-8 > .column:nth-of-type(8n+1), .large-up-8 > .columns:nth-of-type(8n+1) {
      clear: both; }
    .large-up-8 > .column:last-child, .large-up-8 > .columns:last-child {
      float: right; }
  .large-collapse > .column, .large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .large-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .expanded.row .large-collapse.row {
    margin-left: 0;
    margin-right: 0; }
  .large-uncollapse > .column, .large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem; }
  .large-centered {
    margin-left: auto;
    margin-right: auto; }
    .large-centered, .large-centered:last-child:not(:first-child) {
      float: none;
      clear: both; }
  .large-uncentered,
  .large-push-0,
  .large-pull-0 {
    position: static;
    margin-left: 0;
    margin-right: 0;
    float: right; } }

ul {
  list-style-type: disc;
  margin-right: 1.25rem; }

ol {
  margin-right: 1.25rem; }

ul ul, ol ul, ul ol, ol ol {
  margin-right: 1.25rem;
  margin-bottom: 0; }
blockquote {
  margin: 0 0 1rem;
  padding: 0.5625rem 1.25rem 0 1.1875rem;
  border-right: 1px solid #cacaca; }
.no-bullet {
  margin-right: 0;
  list-style: none; }

  .button.dropdown::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 0.4em;
    border-color: #fefefe transparent transparent;
    border-top-style: solid;
    border-bottom-width: 0;
    position: relative;
    top: 0.4em;
    float: left;
    margin-right: 1em;
    display: inline-block; }
  .button.arrow-only::after {
    margin-right: 0;
    float: none;
    top: -0.1em; }

[type='checkbox'] + label,
[type='radio'] + label {
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 1rem;
  margin-bottom: 0;
  vertical-align: baseline; }
  [type='checkbox'] + label[for],
  [type='radio'] + label[for] {
    cursor: pointer; }
label > [type='checkbox'],
label > [type='radio'] {
  margin-left: 0.5rem; }
.fieldset legend {
    background: #fefefe;
    padding: 0 0.1875rem;
    margin: 0;
    margin-right: -0.1875rem; }
select {
	padding-left: 1.5rem;
}
.accordion {
  list-style-type: none;
  background: #fefefe;
  margin-right: 0; }
  .menu {
  margin: 0;
  list-style-type: none; }
  .menu > li {
    display: table-cell;
    vertical-align: middle; }
    [data-whatinput='mouse'] .menu > li {
      outline: 0; }
  .menu > li > a {
    display: block;
    padding: 0.7rem 1rem;
    line-height: 1; }
  .menu input,
  .menu a,
  .menu button {
    margin-bottom: 0; }
  .menu > li > a img,
  .menu > li > a i,
  .menu > li > a svg {
    vertical-align: middle; }
    .menu > li > a img + span,
    .menu > li > a i + span,
    .menu > li > a svg + span {
      vertical-align: middle; }
  .menu > li > a img,
  .menu > li > a i,
  .menu > li > a svg {
    margin-right: 0.25rem;
    display: inline-block; }
  .menu > li {
    display: table-cell; }
  .menu.vertical > li {
    display: block; }
  @media screen and (min-width: 40em) {
    .menu.medium-horizontal > li {
      display: table-cell; }
    .menu.medium-vertical > li {
      display: block; } }
  @media screen and (min-width: 64em) {
    .menu.large-horizontal > li {
      display: table-cell; }
    .menu.large-vertical > li {
      display: block; } }
  .menu.simple li {
    line-height: 1;
    display: inline-block;
    margin-left: 1rem; }
  .menu.simple a {
    padding: 0; }
  .menu.align-right::before, .menu.align-right::after {
    content: ' ';
    display: table; }
  .menu.align-right::after {
    clear: both; }
  .menu.align-right > li {
    float: left; }
  .menu.expanded {
    width: 100%;
    display: table;
    table-layout: fixed; }
    .menu.expanded > li:first-child:last-child {
      width: 100%; }
  .menu.icon-top > li > a {
    text-align: center; }
    .menu.icon-top > li > a img,
    .menu.icon-top > li > a i,
    .menu.icon-top > li > a svg {
      display: block;
      margin: 0 auto 0.25rem; }
  .menu.nested {
    margin-right: 1rem; }
  .menu .active > a {
    color: #fefefe;
    background: #2199e8; }
  .menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 20px;
  height: 16px; }
  .menu-icon::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #fefefe;
    top: 0;
    right: 0;
    box-shadow: 0 7px 0 #fefefe, 0 14px 0 #fefefe; }
  .menu-icon:hover::after {
    background: #cacaca;
    box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca; }
.menu-icon.dark {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 20px;
  height: 16px; }
  .menu-icon.dark::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #0a0a0a;
    top: 0;
    right: 0;
    box-shadow: 0 7px 0 #0a0a0a, 0 14px 0 #0a0a0a; }
  .menu-icon.dark:hover::after {
    background: #8a8a8a;
    box-shadow: 0 7px 0 #8a8a8a, 0 14px 0 #8a8a8a; }

.is-drilldown-submenu {
  position: absolute;
  top: 0;
  right: 100%;
  z-index: -1;
  width: 100%;
  background: #fefefe;
  transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear; }
  .is-drilldown-submenu.is-active {
    z-index: 1;
    display: block;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%); }
  .is-drilldown-submenu.is-closing {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }

.is-drilldown-submenu-parent > a {
  position: relative; }
  .is-drilldown-submenu-parent > a::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent transparent #2199e8;
    border-left-style: solid;
    border-right-width: 0;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    left: 1rem; }

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  padding-left: 1.5rem;
  position: relative; }

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: #2199e8 transparent transparent;
  border-top-style: solid;
  border-bottom-width: 0;
  left: 5px;
  margin-top: -2px; }
  .switch-active {
  right: 8%;
  display: none; }
  input:checked + label > .switch-active {
    display: block; }

.switch-inactive {
  left: 15%; }
  input:checked + label > .switch-inactive {
    display: none; }

.switch.tiny {
  height: 1.5rem; }
  .switch.tiny .switch-paddle {
    width: 3rem;
    height: 1.5rem;
    font-size: 0.625rem; }
  .switch.tiny .switch-paddle::after {
    width: 1rem;
    height: 1rem; }
  .switch.tiny input:checked ~ .switch-paddle::after {
    right: 1.75rem; }

.switch.small {
  height: 1.75rem; }
  .switch.small .switch-paddle {
    width: 3.5rem;
    height: 1.75rem;
    font-size: 0.75rem; }
  .switch.small .switch-paddle::after {
    width: 1.25rem;
    height: 1.25rem; }
  .switch.small input:checked ~ .switch-paddle::after {
    right: 2rem; }

.switch.large {
  height: 2.5rem; }
  .switch.large .switch-paddle {
    width: 5rem;
    height: 2.5rem;
    font-size: 1rem; }
  .switch.large .switch-paddle::after {
    width: 2rem;
    height: 2rem; }
  .switch.large input:checked ~ .switch-paddle::after {
    right: 2.75rem; }
.input-group-label:last-child {
	border-right: 0;
    border-left: 1px solid #cacaca;
}